<footer class="footer">
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-6 text-left">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="text-muted" href="mailto:vlad.men.mail@ya.ru">Поддержка</a>
                    </li>  
                    <li class="list-inline-item">
                        <a class="text-muted" href="/img/onu_status.png">Статус ONUs</a>
                    </li> 
                    <li class="list-inline-item">
                        <a class="text-muted" id="link-test-notify" href="#" onclick="clickTestNotify(event)">Тестовое уведомление</a>
                    </li>                    
                </ul>
            </div>
            <div class="col-6 text-right">
                <p class="mb-0">
                    &copy; 2020 - <a href="." class="text-muted">Avest Network</a>
                </p>
            </div>
        </div>
    </div>
</footer>

<script src="/js/app_stack.min.js"></script>
<script src="/js/app_custom.js"></script>