<main class="content">
    <div class="container-fluid p-0">

        <div class="row">
            <div class="col-12 col-xl-12" id="root">               
            </div>
        </div>
    </div>
</main>

<script defer src="/js/onus_signal.js"></script>