<main class="content">
    <div class="container-fluid p-0">

        <div class="row">
            <div class="col-12 col-xl-12" id="root">
                <div class="d-flex justify-content-center" id="spinner-loading-main">
                    <div class="spinner-border text-primary mr-2" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script defer src="/js/settings_users.js"></script>